.dashboard {
  padding: 10px 0;
  margin: auto;
  width: 600px;
  display: flex;
  justify-content: space-between;

  &__income {
    width: 250px;
    &__title {
      color: #42a58d;
    }
  }

  &__expense {
    width: 250px;
    &__title {
      color: #cb5819;
    }
  }
}
.container {
  max-width: 1200px;
  margin: auto;
}
