.budget {
  background: #161c2c;
  padding: 10px 0;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__total {
    font-size: 50px;
  }
}
.container {
  max-width: 1200px;
  margin: auto;
}
